header 
    div.container.header__content
        h2.logo Logo
        div.search__input
            input(type="text__search" placeholder="Search..")
        nav 
            ul.header__nav.nav 
                li.nav__item 
                    a.nav__link(href="#") Home 
                li.nav__item 
                    a.nav__link(href="#") Discover
                li.nav__item 
                    a.nav__link(href="#") Activity
                li.nav__item 
                    a.nav__link(href="#") Page
                li.nav__item 
                    a.nav__link(href="#") Contact Us    
                li.nav__btn 
                    a.nav__link.btn__link(href="#") Create    
                li.nav__btn
                    a.nav__link.btn__link(href="#") Connect Wallet    
