section.hero 
    div.container.hero__section
        div.hero__content 
            h2.main__title Discover Collect And Sell Extraordinary NFT
            p.main__subtitle Het Heeft Niet Alleen Vijf Eeuwen Overleefd Maar Is Ook, Vrijwel Onveranderd, Overgenomen In Elektronische Letterzetting. Het Is In De Jaren
            a.hero__btn(href="#") Explore More
            a.hero__btn(href="#") Connect Wallet
        div.hero__image 
            img.hero__img(src="assets/images/hero/main-img.png",  height='575px' , alt="main--img")